/* Common Utility Classes */
.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-derctions-column {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
